# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\20.08.2022\git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
